<section class="l-body">
  <header class="page-header">
    <h1 class="mat-display-1">Teams</h1>
    <button
      mat-flat-button
      color="primary"
      (click)="openCreateTeamDialog()"
      id="new-team"
    >
      Create Team
    </button>
  </header>
  <app-card title="Your Teams">
    <mat-list *ngIf="(yourTeams$ | async)?.length; else noTeams" content>
      <mat-list-item *ngFor="let yourTeam of yourTeams$ | async">
        <a mat-line [routerLink]="[yourTeam.slug, 'members']"
          >#{{ yourTeam.slug }}</a
        >
        <p mat-line>
          {{ yourTeam.memberCount | i18nPlural: memberCountPluralMapping }}
        </p>
      </mat-list-item>
    </mat-list>
    <ng-template #noTeams>
      <p *ngIf="(otherTeams$ | async)?.length; else noTeamsInOrg">
        You aren't part of any teams. Join a team below or press the "Create
        Team" button in the upper right.
      </p>
      <ng-template #noTeamsInOrg>
        <p>
          You don't have any teams set up. Teams determine which users have
          access to projects in your organization.
        </p>
        <p>
          To create a new team, press the "Create Team" button in the upper
          right.
        </p></ng-template
      >
    </ng-template>
  </app-card>

  <app-card *ngIf="(otherTeams$ | async)?.length" title="Other Teams">
    <mat-list content>
      <mat-list-item *ngFor="let otherTeam of otherTeams$ | async">
        <a mat-line [routerLink]="[otherTeam.slug, 'members']"
          >#{{ otherTeam.slug }}</a
        >
        <p mat-line>
          {{ otherTeam.memberCount | i18nPlural: memberCountPluralMapping }}
        </p>
      </mat-list-item></mat-list
    >
  </app-card>
</section>
