<header>
  <a
    mat-stroked-button
    class="back-link"
    [routerLink]="['..']"
    [queryParams]="backLinkParams"
  >
    <mat-icon>keyboard_arrow_left</mat-icon>
    {{ backLinkText }}
  </a>
  <div class="header-group">
    <h1>
      <span class="mat-h1">{{ getTitle() }}</span>
      <span *ngIf="getTitleSuffix() as suffix" class="mat-h3">{{
        suffix
      }}</span>
      <p class="mat-subtitle-2">{{ subtitle }}</p>
    </h1>
    <div class="button-row">
      <ng-content />
    </div>
  </div>
</header>
