<section class="l-body l-body--full-width mat-elevation-z0">
  <header class="page-header">
    <h1 class="mat-display-1">Performance (Beta)</h1>
  </header>

  <div *ngIf="hits$ | async as hits">{{ hits | i18nPlural: countMapping }}</div>

  <div *ngFor="let transaction of transactions$ | async">
    {{ transaction.transaction }} {{ transaction.startTimestamp }}
  </div>

  <div *ngIf="previousPageURL$ | async as url">Previous: {{ url }}</div>
  <div *ngIf="nextPageURL$ | async as url">Next: {{ url }}</div>

</section>