@import "variables";

.spacing {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
}

.remove-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $large - 1) {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  p {
    padding-right: 16px;
  }
}

gt-loading-button ::ng-deep button {
  width: 160px;
}
