<div>
  <div #containerRef (window:resize)="onResize()" class="spectre-line-chart">
    <ngx-charts-area-chart
      [view]="view"
      [scheme]="colorScheme"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [gradient]="true"
      [xScaleMin]="xScaleMin"
      [xScaleMax]="xScaleMax"
      [results]="data"
    >
    <ng-template #tooltipTemplate let-model="model">
        {{ model.name | date:'short'}}<br>
      {{ model.value }}ms
    </ng-template>
    <ng-template #seriesTooltipTemplate let-model="model">
      {{model[0].value }}ms
    </ng-template>
    </ngx-charts-area-chart>
  </div>
</div>


