<section>
  <mat-accordion displayMode="flat" [hideToggle]="false">
    <mat-expansion-panel #expansionPanel class="mat-elevation-z1">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ appliedProjectsString$ | async }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input
          type="text"
          placeholder="Filter projects"
          aria-label="Filter projects"
          matInput
          [formControl]="filterProjectInput"
        />
      </mat-form-field>

      <mat-selection-list
        [disableRipple]="true"
        (selectionChange)="updateAppliedProjects($event)"
      >
        <mat-list-option
          *ngFor="let project of filteredProjects$ | async"
          [value]="project.id"
          [selected]="isSelected(project.id)"
        >
          {{ project.name }}
        </mat-list-option>
      </mat-selection-list>
      <div class="button-group">
        <button
          *ngIf="someProjectsAreSelected$ | async"
          mat-stroked-button
          (click)="navigate(null); expansionPanel.close()"
        >
          View All
        </button>
        <button
          mat-flat-button
          (click)="expansionPanel.close()"
          color="primary"
        >
          Close
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>
