<section
class="l-body l-body--full-width mat-elevation-z0"
>
    <div *ngIf="monitors$ | async as monitors" class="wrapper">
        <table
        mat-table
        [dataSource]="monitors$"
        class="mat-elevation-z2"
        >
            <ng-container matColumnDef="statusColor">
                <td 
                    mat-cell *matCellDef="let monitor"
                    class="status-color status-color--{{ monitor.isUp }}"
                >
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <td 
                    mat-cell *matCellDef="let monitor"
                >
                    <div class="monitor-name">
                        <a [matTooltip]="monitor.name" [routerLink]="">{{ monitor.name }}</a>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="url">
                <td
                mat-cell
                *matCellDef="let monitor"
                class="monitor-url"
                > 
                    <div class="url-box">
                        <span [matTooltip]="monitor.url" class="url-string">{{ monitor.url }}</span>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <td mat-cell *matCellDef="let monitor"> 
                    <ng-container *ngIf="monitor.lastChange; else notYet">
                        <span *ngIf="monitor.isUp">Up</span>
                        <span *ngIf="!monitor.isUp">Down</span>
                        {{ monitor.lastChange | timeFor }}
                    </ng-container>
                    <ng-template #notYet>
                        <span>Not yet live</span>
                    </ng-template>
                </td>
            </ng-container>
            <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"
            class="monitor-row"
            ></tr>
        </table>
    </div>

<!-- <div *ngIf="(monitors$ | async) as monitors"> 
    <div *ngFor="let monitor of monitors">
        <p>{{ monitor.name }}</p>
        <p>{{ monitor.url }}</p>
    </div>
</div> -->
</section>

