@import "variables";

mat-card {
  margin-top: 24px;
  padding-bottom: 32px;
}

.key {
  font-weight: 700;
}

.bars {
  height: 16px;
  display: flex;
  justify-content: flex-start;
}

.top-value {
  display: flex;
  justify-content: space-between;

  &:not(:first-child) {
    margin-top: 24px;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
