@import "../../../../assets/styles/variables";

section {
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;

  .space {
    margin-right: 16px;
  }

  p,
  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.location {
  display: flex;
  justify-content: space-around;

  .wrapper {
    display: flex;
    align-items: center;
  }

  .spacer {
    margin-left: 16px;
  }

  .spacer-small {
    margin-left: 8px;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .bold {
    font-weight: 700;
  }
}

.tags .spacer {
  margin-left: 8px;
}

app-entry-request {
  display: block;
}

.pseudo-chip-list {
  margin: 4px 0 20px;
  padding: 0;
  overflow: hidden;
}
.pseudo-chip {
  margin-top: 6px;
  margin-right: 8px;
  padding: 2px 12px;
  border-radius: 16px;
  border: 1px solid mat-color($mat-gray, 500);
  background-color: #fefefe;
  float: left;
  list-style: none;
}
.pseudo-chip-key {
  font-size: 0.8em;
  padding-right: 10px;
  opacity: 0.8;
}
.pseudo-chip-value {
  vertical-align: -0.07em;
}
