<section *ngIf="event$ | async as event" class="mat-typography">
  <section class="header">
    <div>
      <h2>Event</h2>
      <p>
        <a>{{ event?.eventID }}</a>
      </p>
      <p>
        <span *ngIf="event?.dateCreated" class="space">{{
          event?.dateCreated | date: "long"
        }}</span>
      </p>
    </div>
    <div>
      <a
        mat-button
        [routerLink]="(previousEventUrl$ | async) || ''"
        [disabled]="(previousEvent$ | async) === false"
        ><mat-icon>keyboard_arrow_left</mat-icon> Older</a
      >
      <a
        mat-button
        [routerLink]="(nextEventUrl$ | async) || ''"
        [disabled]="(nextEvent$ | async) === false"
        >Newer <mat-icon>keyboard_arrow_right</mat-icon></a
      >
    </div>
  </section>

  <mat-divider></mat-divider>

  <section
    *ngIf="event?.contexts?.browser || event?.contexts?.os"
    class="location"
  >
    <div *ngIf="event?.user" class="wrapper">
      <mat-icon>face</mat-icon>
      <div class="spacer">
        <p class="mat-body-strong">
          {{ event?.user.email ? event?.user.email : event?.user.ip_address }}
        </p>
        <p *ngIf="event?.user.id" class="mat-small mat-caption">
          <span class="bold">Version:</span
          ><span class="spacer-small">{{ event?.user.id }}</span>
        </p>
      </div>
    </div>
    <div *ngIf="event?.contexts?.browser" class="wrapper">
      <mat-icon>tab</mat-icon>
      <div class="spacer">
        <p class="mat-body-strong">{{ event?.contexts?.browser?.name }}</p>
        <p class="mat-small mat-caption">
          <span class="bold">Version:</span
          ><span class="spacer-small">{{
            event?.contexts?.browser?.version
          }}</span>
        </p>
      </div>
    </div>
    <div *ngIf="event?.contexts?.os" class="wrapper">
      <mat-icon>laptop</mat-icon>
      <div class="spacer">
        <p class="mat-body-strong">{{ event?.contexts?.os?.name }}</p>
        <p class="mat-small mat-caption">
          <span class="bold">Version:</span
          ><span class="spacer-small">{{
            event?.contexts?.os?.version
              ? event?.contexts?.os?.version
              : "unknown"
          }}</span>
        </p>
      </div>
    </div>
  </section>

  <mat-divider *ngIf="event?.contexts?.browser"></mat-divider>

  <section class="tags">
    <h3>Tags</h3>
    <mat-chip-list class="wrapper">
      <mat-chip *ngFor="let tag of event?.tags"
        ><span>{{ tag.key }}:</span>
        <a routerLink="." class="spacer">{{ tag.value }}</a></mat-chip
      >
    </mat-chip-list>
  </section>

  <mat-divider></mat-divider>

  <app-entry-message></app-entry-message>
  <app-entry-exception [eventTitle]="event?.title"></app-entry-exception>
  <app-entry-csp></app-entry-csp>
  <app-entry-request></app-entry-request>
  <section *ngIf="event?.contexts">
    <mat-divider></mat-divider>
    <h3>Runtime</h3>
    <app-entry-data
      key="Name"
      [value]="event?.contexts?.runtime?.name"
    ></app-entry-data>
    <app-entry-data
      key="Version"
      [value]="event?.contexts?.runtime?.version"
    ></app-entry-data>
  </section>
  <section *ngIf="event?.contexts">
    <mat-divider></mat-divider>
    <h3>Operating System</h3>
    <app-entry-data
      key="Name"
      [value]="event?.contexts?.os?.name"
    ></app-entry-data>
    <app-entry-data
      key="Version"
      [value]="
        event?.contexts?.os?.version ? event?.contexts?.os?.version : 'unknown'
      "
    ></app-entry-data>
  </section>
  <section *ngIf="event?.contexts">
    <mat-divider></mat-divider>
    <h3>Trace (trace)</h3>
    <app-entry-data
      key="description"
      [value]="event?.contexts?.trace?.description"
    ></app-entry-data>
    <app-entry-data
      key="op"
      [value]="event?.contexts?.trace?.op"
    ></app-entry-data>
    <app-entry-data
      key="parent_span_id"
      [value]="event?.contexts?.trace?.parent_span_id"
    ></app-entry-data>
    <app-entry-data
      key="span_id"
      [value]="event?.contexts?.trace?.span_id"
    ></app-entry-data>
    <app-entry-data
      key="trace_id"
      [value]="event?.contexts?.trace?.trace_id"
    ></app-entry-data>
  </section>
  <section *ngIf="event?.contexts?.browser">
    <mat-divider></mat-divider>
    <h3>Browser</h3>
    <app-entry-data
      key="name"
      [value]="event?.contexts?.browser?.name"
    ></app-entry-data>
    <app-entry-data
      key="version"
      [value]="event?.contexts?.browser?.version"
    ></app-entry-data>
  </section>
  <section *ngIf="event?.context">
    <mat-divider></mat-divider>
    <h3>Aditional Data</h3>
    <app-entry-data
      key="argv"
      [value]="removeType(event?.context)['sys.argv'] | json"
    ></app-entry-data>
    <app-entry-data
      key="version"
      [value]="event?.contexts?.browser?.version"
    ></app-entry-data>
  </section>
  <section *ngIf="event?.sdk">
    <mat-divider></mat-divider>
    <h3>SDK</h3>
    <app-entry-data key="name" [value]="event?.sdk.name"></app-entry-data>
    <app-entry-data key="version" [value]="event?.sdk.version"></app-entry-data>
  </section>
</section>
