mat-card {
  margin-top: 32px;
  margin-bottom: 32px;
}

mat-form-field,
app-entry-data {
  display: block;
  width: 100%;
  padding-top: 24px;
}

mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
}
