<mat-card>
  <mat-card-header
    ><mat-card-title>Create a New Organization</mat-card-title></mat-card-header
  >
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p>
        <mat-error *ngIf="error">{{ error }}</mat-error>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name" />
        </mat-form-field>
        <button id="submit" mat-flat-button color="primary">
          Create Organization
        </button>
      </p>
    </form></mat-card-content
  >
</mat-card>
