@import "variables";

.empty-state-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h6 {
    margin: 0;
  }
}

.project-card {
  @media screen and (max-width: $tablet - 1) {
    display: none;
  }
}
