:host {
  display: inline-block;
  position: relative;
  height: 36px;
}

.mat-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  color: transparent;
}
