.reports {
  div {
    padding: 8px 0;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type ~ mat-divider {
      display: none;
    }
  }
}

.name {
  margin-bottom: 0;
}

.date {
  font-size: 0.8em;
  margin: 0 0 1em;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 40px;
}

.nav-arrows {
  display: flex;
  justify-content: flex-end;
}
