<div *ngIf="(loadingReports$ | async) === true" class="spinner-container">
  <mat-progress-spinner
    [diameter]="40"
    color="primary"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>

<p class="mat-body-1" *ngIf="errorReports$ | async">
  {{ errorReports$ | async }}
</p>

<mat-card *ngIf="(reports$ | async)?.length === 0">
  <mat-card-content>
    <p>No user reports have been submitted.</p>
    <p>
      To enable user reports, take a look at `showReportDialog` in the JS SDK.
    </p>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let report of reports$ | async">
  <mat-card-content>
    <p class="name">{{ report.name }} ({{ report.email }})</p>
    <p class="date">{{ report.dateCreated | date: "medium" }}</p>
    <p>{{ report.comments }}</p>
  </mat-card-content>
</mat-card>
