.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-card {
  margin: 24px 8px 8px 8px;
}

mat-card-header {
  &::ng-deep .mat-card-header-text {
    margin-left: 0;
  }
}

.center-text {
  text-align: center;
}

mat-card-content {
  margin-top: 16px;

  mat-list {
    padding-top: 0;

    .mat-list-item {
      &:nth-last-child(n + 2) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      }

      ::ng-deep .mat-list-item-content {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
