.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card {
  margin: 24px 8px 8px 8px;
}

.center-text {
  text-align: center;
}

mat-card-content {
  margin-top: 16px;
  .team-project-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    &:nth-last-child(n + 2) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .team-name {
      margin-right: 10px;
    }
  }
}
