@import "../../../../../assets/styles/variables";

.key {
  width: 33%;
  padding-right: 16px;
  vertical-align: top;
}

.content {
  padding: 8px;
  font-family: $font-mono;
  border-radius: 3px;
  border: none;
}

tr {
  margin-top: 2px;
  margin-bottom: 2px;
}

table {
  border-collapse: separate;
  border-spacing: 0 4px;
  table-layout: auto;
  width: 100%;
}
