@import "variables";

mat-card-header {
  &::ng-deep .mat-card-header-text {
    margin-left: 0;
  }
}

.half-width {
  max-width: 390px;
}

form {
  margin-left: auto;
  margin-right: auto;

  .server-error {
    padding-top: 16px;
    text-align: center;
  }

  mat-error {
    span {
      padding-right: 16px;
    }
  }
}

mat-form-field {
  margin-bottom: 10px;

  @media screen and (max-width: $small - 1) {
    margin-bottom: 20px;
  }
}

.first-field {
  margin-top: 24px;
}

mat-spinner {
  margin-top: 16px;
}

.confirm-email {
  padding-top: 16px;
}

.success-text {
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 8px;
  }
}
