form {
  margin-left: auto;
  margin-right: auto;

  .server-error {
    padding-top: 16px;
    text-align: center;
  }

  mat-error {
    span {
      padding-right: 16px;
    }
  }
}

mat-form-field {
  margin-bottom: 10px;
}

.first-field {
  margin-top: 24px;
}

mat-spinner {
  margin-top: 16px;
}
