@import "../../../assets/styles/variables";

mat-card {
  border-radius: 0;
}

mat-card > a {
  text-decoration: none;
  color: mat-color($mat-gray, 900);
}

mat-card-title {
  margin-bottom: 0;
  padding-bottom: 16px;
}

mat-card-content {
  margin-bottom: 8px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.padding {
  margin-top: 40px;
}

::ng-deep {
  .mat-card-actions .mat-button {
    margin-left: 0;
    margin-right: 0;
  }
}

.not-clickable {
  cursor: default;
}

.remove-bold {
  font-weight: 400;
}
