<mat-card>
  <h1>Login</h1>
  <form class="example-form">
    <p>
      <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="Username" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" />
      </mat-form-field>
      <mat-checkbox class="example-full-width">Keep me logged in</mat-checkbox>
      <button
        (click)="onSubmit()"
        class="example-full-width"
        mat-flat-button
        color="primary"
      >
        Primary
      </button>
    </p>
  </form>
  <a class="example-full-width" mat-button routerLink=".">Forgot?</a>
</mat-card>
