mat-card {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

.full-width {
  width: 100%;
}

form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.server-error {
  height: 21px;
}

mat-error span {
  padding-right: 16px;
}

.or {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.o-auth {
  .wrapper {
    display: flex;
    align-items: center;
  }
  svg {
    position: absolute;
    width: 16px;
    height: 16px;
  }
  .text {
    margin-left: auto;
    margin-right: auto;
  }
  .margin {
    margin-bottom: 8px;
  }
}

mat-form-field {
  margin-bottom: 10px;
}

.sign-up {
  margin-top: 32px;
  padding-bottom: 16px;
  text-align: center;

  a {
    margin-left: 4px;
  }
}
