<section class="l-body">
  <header class="page-header">
    <h1 class="mat-display-1">Projects</h1>
    <a
      *ngIf="activeOrganizationSlug$ | async as slug"
      mat-flat-button
      [routerLink]="['/settings', slug, 'projects', 'new']"
      color="primary"
    >
      Create New Project
    </a>
  </header>
  <div class="card-wrapper">
    <app-project-card
      *ngFor="let project of projectsForActiveOrg$ | async"
      [cardLink]="[project.slug]"
      [title]="project.name"
      [descriptionList]="[
        { key: 'organization', value: project.organization.name },
        { key: 'date created', value: project.dateCreated | date }
      ]"
      [primaryActionButtonLink]="[project.slug]"
      primaryActionButtonIcon="settings"
      primaryActionButtonText="Settings"
    ></app-project-card>
  </div>
</section>
