p {
  margin-left: 20px;
}

div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  background: whitesmoke;

  a {
    margin-left: 10px;
  }
}

.mat-card {
  max-width: 400px;
  margin-right: 20px;
}

article {
  display: flex;
  flex-wrap: wrap;
}
