.location {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

.method {
  margin-right: 8px;
}

.domain {
  margin-left: 16px;
}

.data {
  margin-top: 40px;
}

app-entry-data {
  display: block;
}

h3 {
  padding-top: 8px;
}
