<section class="l-body">
  <header class="page-header">
    <h1 class="mat-display-1">#{{ teamSlug }}</h1>
    <a mat-flat-button [routerLink]="['/settings', orgSlug, 'teams']">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Back to Teams
    </a>
  </header>
  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title>Members</mat-card-title>
      <mat-form-field *ngIf="(userTeamRole$ | async) !== 'member'">
        <mat-label>Add Member</mat-label>
        <mat-select (selectionChange)="addTeamMember()" [formControl]="member">
          <ng-container
            *ngIf="(filteredAddTeamMembers$ | async)?.length; else emptyState"
          >
            <mat-option
              *ngFor="let orgMember of filteredAddTeamMembers$ | async"
              [value]="orgMember"
            >
              {{ orgMember.user.email }}
            </mat-option></ng-container
          ><ng-template #emptyState>
            <mat-option disabled>No members</mat-option>
          </ng-template>
        </mat-select>
        <mat-error>{{ addMemberError }}</mat-error>
      </mat-form-field>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <ng-container
        *ngIf="(teamMembers$ | async)?.length === 0; else listMembers"
      >
        <p class="center-text">This team doesn't have any members</p>
      </ng-container>
      <ng-template #listMembers>
        <mat-list>
          <mat-error *ngIf="removeMemberError" class="center-text">{{
            removeMemberError
          }}</mat-error>
          <mat-list-item *ngFor="let teamMember of teamMembers$ | async">
            <a
              mat-line
              [routerLink]="['/settings', orgSlug, 'members', teamMember.id]"
              >{{ teamMember.user.email }}</a
            >
            <app-loading-button
              buttonText="Remove"
              buttonStyle="stroked"
              [loading]="selectedTeamMember === teamMember.id"
              (click)="removeTeamMember(teamMember.id, teamMember.user.email)"
              id="remove-team-member"
            ></app-loading-button>
          </mat-list-item> </mat-list
      ></ng-template>
    </mat-card-content>
  </mat-card>
</section>
