<section class="l-body">
  <header>
    <a mat-stroked-button [routerLink]="['..']">
      <mat-icon>keyboard_arrow_left</mat-icon>
      View all uptime monitors
    </a>
    <h1 class="mat-display-1">Create a New Uptime Monitor</h1>
  </header>
  <mat-card>
    <mat-card-content>
      <div class="form-center">
        <mat-error *ngIf="error$ | async">{{ error$ | async }}</mat-error>
      </div>
      <form [formGroup]="newMonitorForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field class="monitor-name">
            <input
              id="monitor-name"
              matInput
              formControlName="name"
              placeholder="Monitor Name"
              maxlength="200"
              required
              [errorStateMatcher]="matcher"
            />
            <mat-error>
              <span *ngIf="formName?.errors?.required"
                >Enter a monitor name</span
              >
              <span *ngIf="formName?.errors?.maxlength">
                Name may not be more than
                {{ formName.errors?.maxlength.requiredLength }} characters
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="short-field">
          <div class="form-field">
            <mat-form-field>
              <mat-label>Monitor type</mat-label>
              <mat-select
                id="monitor-type"
                formControlName="monitorType"
                required
                [errorStateMatcher]="matcher"
                (selectionChange)="updateRequiredFields()"
              >
                <mat-option *ngFor="let type of typeChoices" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
              <mat-error>
                <span *ngIf="formMonitorType?.errors?.required"
                  >Choose a monitor type</span
                >
              </mat-error>
            </mat-form-field>
          </div>
          <div class="help-text">
            <ng-container *ngIf="formMonitorType?.value === 'Ping'">
              <p class="mat-caption">
                GlitchTip will "ping" the specified URL using an HTTP HEAD
                request with no payload.
              </p>
            </ng-container>
            <ng-container *ngIf="formMonitorType?.value === 'POST'">
              <p class="mat-caption">
                GlitchTip will send an HTTP POST request to the specified URL.
                If the expected response is not received, the site will be
                marked as Down.
              </p>
            </ng-container>
            <ng-container *ngIf="formMonitorType?.value === 'GET'">
              <p class="mat-caption">
                GlitchTip will send an HTTP GET request to the specified URL. If
                the expected response is not received, the site will be marked
                as Down.
              </p>
            </ng-container>
            <ng-container *ngIf="formMonitorType?.value === 'Heartbeat'">
              <p class="mat-caption">
                GlitchTip will await requests from your site to ensure it is
                active. If it doesn't receive the request, the site will be
                marked as Down.
              </p>
            </ng-container>
          </div>
        </div>
        <ng-container *ngIf="formMonitorType?.value !== 'Heartbeat'">
          <div class="url-spacing">
            <mat-form-field>
              <input
                id="monitor-url"
                matInput
                formControlName="url"
                placeholder="Site URL"
                required
                [errorStateMatcher]="matcher"
              />
              <mat-error>
                <span *ngIf="formUrl?.errors?.required">Enter a url</span>
              </mat-error>
              <mat-error>
                <span *ngIf="formUrl?.errors?.pattern"
                  >Enter a valid URL with protocol (ex.
                  https://example.com)</span
                >
                <span *ngIf="formUrl?.errors?.maxlength">
                  URL may not be more than
                  {{ formUrl.errors?.maxlength.requiredLength }} characters
                </span>
              </mat-error>
            </mat-form-field>
          </div>
        </ng-container>
        <div class="short-field">
          <div class="form-field">
            <mat-form-field>
              <mat-label>Associated Project</mat-label>
              <mat-select id="associated-project" formControlName="project">
                <ng-container *ngIf="orgProjects$ | async as orgProjects">
                  <mat-option value="">None</mat-option>
                  <mat-option
                    *ngFor="let orgProject of orgProjects"
                    [value]="orgProject.id"
                  >
                    {{ orgProject.name }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="help-text">
            <p class="mat-caption">
              Uptime email notifications are sent to the team assigned to the
              associated project.
            </p>
          </div>
        </div>
        <div class="short-field">
          <div class="form-field">
            <mat-form-field>
              <mat-label>Expected Status</mat-label>
              <input
                id="expected-status"
                matInput
                min="0"
                max="1000"
                type="number"
                default="200"
                autocomplete="off"
                formControlName="expectedStatus"
                placeholder="Status code"
                required
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngIf="formExpectedStatus?.errors">
                <span *ngIf="formExpectedStatus?.errors?.min"
                  >The quantity needs to be greater than or equal to 100.</span
                >
                <span
                  *ngIf="
                    formExpectedStatus?.errors?.invalidNumber ||
                    formExpectedStatus?.errors?.required
                  "
                  >Enter a status code number
                </span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="short-field">
          <div class="form-field">
            <mat-form-field>
              <mat-label>Interval (seconds)</mat-label>
              <input
                id="interval"
                matInput
                min="0"
                type="number"
                default="60"
                autocomplete="off"
                formControlName="interval"
                placeholder="60"
                required
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngIf="formInterval?.errors">
                <span *ngIf="formInterval?.errors?.min"
                  >The number needs to be greater than or equal to 60.</span
                >
                <span *ngIf="formInterval?.errors?.max"
                  >The number needs to be less than 86400 (24 hours).</span
                >
                <span
                  *ngIf="
                    formInterval?.errors?.invalidNumber ||
                    formInterval?.errors?.required
                  "
                  >Enter a number.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-container
            *ngIf="totalEventsAllowed$ | async as totalEventsAllowed"
          >
            <div class="help-text">
              <p class="mat-caption">
                <ng-container
                  *ngIf="
                    intervalPerMonth <= totalEventsAllowed;
                    else limitExceeded
                  "
                >
                  This will use approximately
                  {{ intervalPerMonth | number: "1.0-0" }}
                  <a [routerLink]="[]" (click)="openEventInfoDialog()"
                    >events</a
                  >
                  per month out of the
                  {{ totalEventsAllowed | number: "1.0-0" }} events your
                  organization's subscription allows for.
                </ng-container>
                <ng-template #limitExceeded>
                  This will use approximately
                  {{ intervalPerMonth | number: "1.0-0" }}
                  <a [routerLink]="[]" (click)="openEventInfoDialog()"
                    >events</a
                  >
                  per month, exceeding the
                  {{ totalEventsAllowed | number: "1.0-0" }} events your
                  organization's subscription allows for.
                </ng-template>
              </p>
            </div>
          </ng-container>
        </div>
        <gt-loading-button
          class="submit"
          id="monitor-submit"
          [loading]="(loading$ | async) === true"
          buttonText="Create Monitor"
        >
        </gt-loading-button>
      </form> </mat-card-content
  ></mat-card>
</section>
