<section class="l-body">
    <header class="page-header">
      <h1 class="mat-display-1">Create a New Uptime Monitor</h1>
    </header>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="newMonitorForm" (ngSubmit)="onSubmit()">
            <div>
                <!-- <mat-error *ngIf="error">{{ error }}</mat-error> -->
                <mat-form-field class="monitor-name">
                <input matInput formControlName="name" placeholder="Monitor Name" />
                <!-- <mat-error>
                    <span *ngIf="name?.errors?.required">Enter a monitor name</span>
                </mat-error> -->
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput formControlName="url" placeholder="Site URL" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Interval (seconds)</mat-label>
                    <input
                    matInput
                    min="0"
                    type="number"
                    default="60"
                    autocomplete="off"
                    formControlName="interval"
                    placeholder="60"
                    />
                    <!-- [errorStateMatcher]="newAlert ? newFormMatcher : matcher" -->
                    <!-- <mat-error *ngIf="projectFormQuantity?.errors">
                    <span *ngIf="projectFormQuantity?.errors?.min"
                        >The quantity needs to be greater than or equal to 0.</span
                    >
                    <span *ngIf="projectFormQuantity?.errors?.invalidNumber"
                        >Enter a number.
                    </span>
                    <span *ngIf="projectFormQuantity?.errors?.required"
                        >This field is required.</span
                    >
                    </mat-error> -->
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Monitor type</mat-label>
                    <mat-select
                    formControlName="monitorType"
                    >
                    <mat-option
                        *ngFor="let monitorType of monitorTypes"
                        [value]="monitorType"
                    >
                        {{ monitorType }}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Expected Status</mat-label>
                    <input
                    matInput
                    min="0"
                    max="1000"
                    type="number"
                    default="200"
                    autocomplete="off"
                    formControlName="expectedStatus"
                    placeholder="Status code"
                    
                    />
                    <!-- [errorStateMatcher]="newAlert ? newFormMatcher : matcher" -->
                    <!-- <mat-error *ngIf="projectFormQuantity?.errors">
                    <span *ngIf="projectFormQuantity?.errors?.min"
                        >The quantity needs to be greater than or equal to 0.</span
                    >
                    <span *ngIf="projectFormQuantity?.errors?.invalidNumber"
                        >Enter a number.
                    </span>
                    <span *ngIf="projectFormQuantity?.errors?.required"
                        >This field is required.</span
                    >
                    </mat-error> -->
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Associated Project</mat-label>
                    <mat-select
                    formControlName="project"
                    (selectionChange)="projectSelected()"
                    > 
                    <ng-container *ngIf="orgProjects$ | async as orgProjects">
                        <mat-option value="">None</mat-option>
                        <mat-option
                            *ngFor="let orgProject of orgProjects"
                            [value]="orgProject.slug"
                        >
                            {{ orgProject.name }}
                        </mat-option>
                    </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field *ngIf="projectEnvironments$ | async as projectEnvironments">
                    <mat-label>Environment</mat-label>
                    <mat-select
                    formControlName="environment"
                    [disabled]="projectEnvironments.length < 1"
                    > 
                    <ng-container >
                        <mat-option value="None">None</mat-option>
                        <mat-option
                            *ngFor="let projectEnvironment of projectEnvironments"
                            [value]="projectEnvironment.id"
                        >
                            {{ projectEnvironment.name }}
                        </mat-option>
                    </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
          <gt-loading-button
            id="create-project-submit"
            [loading]="false"
            buttonText="Create Monitor"
          >
          </gt-loading-button>
        </form> </mat-card-content
    ></mat-card>
  </section>