$iconWidth: 56px;

mat-sidenav-container {
  flex: 1;
  position: fixed;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

mat-sidenav {
  width: 240px;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.sidenav-toggle {
  display: none;
  padding: 0;
  margin: 8px;
  min-width: $iconWidth;

  @media (max-width: 720px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    font-size: 30px;
    height: $iconWidth;
    width: $iconWidth;
    line-height: $iconWidth;
    color: white;
  }
}

.wrapper {
  margin: 50px;
}

.active-route {
  font-weight: 500;
}
