.comment {
  padding: 15px 0;

  &:last-of-type ~ mat-divider {
    display: none;
  }
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .name {
    margin-right: 10px;
  }
}
