<section *ngIf="eventEntryException$ | async as exception">
  <section class="exception">
    <div class="header-wrapper">
      <div class="text-wrapper">
        <h3>Exception</h3>
        <p class="spacer">
          (<a mat-button (click)="getFlippedFrames()"
            >most recent call <span *ngIf="isReversed$ | async">first</span
            ><span *ngIf="(isReversed$ | async) === false">last</span></a
          >)
        </p>
      </div>

      <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle
          [class.display-none]="!exception.hasSystemFrames"
          [checked]="exception.hasSystemFrames"
          [disabled]="!exception.hasSystemFrames"
          value="app-only"
          aria-label="app only data"
        >
          App Only
        </mat-button-toggle>
        <mat-button-toggle
          [checked]="!exception.hasSystemFrames"
          value="full-data"
          aria-label="full data"
        >
          Full
        </mat-button-toggle>
        <mat-button-toggle value="raw" aria-label="raw data">
          Raw
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <ng-container *ngIf="group.value === 'app-only' && exception.values">
      <app-non-expanding-frames
        [platform]="eventPlatform"
        [values]="exception.values"
      ></app-non-expanding-frames>
    </ng-container>
    <div class="full" *ngIf="group.value === 'full-data' && exception.values">
      <ng-container *ngIf="exception.hasSystemFrames; else fullNoSystemFrames">
        <app-non-expanding-frames
          [platform]="eventPlatform"
          [values]="exception.values"
          [showAllFrames]="true"
        ></app-non-expanding-frames>
      </ng-container>
      <ng-template #fullNoSystemFrames>
        <div *ngFor="let value of exception.values">
          <h2>{{ value.type }}</h2>
          <p>{{ value.value }}</p>
          <mat-chip-list *ngIf="value.mechanism">
            <mat-chip disabled>mechanism: {{ value.mechanism.type }}</mat-chip>
            <mat-chip color="accent" selected disabled
              >handled: {{ value.mechanism.handled ? "yes" : "no" }}</mat-chip
            >
            <mat-chip *ngIf="value.mechanism.data" disabled
              >function: {{ value.mechanism.data.function }}</mat-chip
            >
          </mat-chip-list>

          <mat-accordion>
            <mat-expansion-panel *ngFor="let frame of value.stacktrace.frames">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ frame.filename }}
                  <a
                    *ngIf="frame.absPath"
                    mat-icon-button
                    color="primary"
                    target="_blank"
                    [href]="frame.absPath"
                  >
                    <mat-icon>open_in_new</mat-icon>
                  </a>
                </mat-panel-title>
                <mat-panel-description>
                  in {{ frame.function }} at line {{ frame.lineNo
                  }}<span *ngIf="frame.colNo">:{{ frame.colNo }}</span>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div *ngFor="let contextLine of frame.context">
                <p>{{ contextLine[0] }}. {{ contextLine[1] }}</p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div></ng-template
      >
    </div>
    <div *ngIf="group.value === 'raw' && exception.values">
      <app-raw-stacktrace
        [eventPlatform]="eventPlatform"
        [values]="exception.values"
      ></app-raw-stacktrace>
    </div>
  </section>
</section>
