.exception {
  margin-bottom: 16px;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .text-wrapper {
    display: flex;
  }

  .spacer {
    margin-left: 8px;
  }

  h3,
  p {
    margin: 0;
  }

  .yes {
    border: 2px solid green;
  }

  .no {
    border: 2px solid red;
  }

  .full {
    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  mat-chip-list {
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
