@import "../../../../../assets/styles/variables";

.exception {
  margin-bottom: 16px;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  .text-wrapper {
    display: flex;
  }

  .spacer {
    margin-left: 8px;
  }

  .subtitle {
    margin-bottom: 24px;
  }

  .yes {
    border: 2px solid green;
  }

  .no {
    border: 2px solid red;
  }

  .raw {
    margin-top: 0;
    margin-bottom: 0;
  }

  .full {
    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  mat-chip-list {
    display: block;
    margin-bottom: 24px;
  }

  mat-expansion-panel-header {
    padding-top: 8px;
    padding-bottom: 8px;

    app-frame-title {
      padding-right: 16px;
    }
  }

  .disabled-panel {
    color: mat-color($mat-gray, 900);
  }

  .highlighted {
    background: mat-color($mat-gray, 100);
  }
}
