<section class="l-body">
  <gt-detail-header
    backLinkText="View monitor details"
    [title]="['Update Monitor', null]"
  >
    <button
      mat-icon-button
      class="medium-icon-button"
      id="delete-monitor"
      (click)="delete()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </gt-detail-header>
  <ng-container *ngIf="monitor$ | async as monitor">
    <gt-monitor-form
      [monitorSettings]="monitor"
      [loading]="(loading$ | async) === true"
      [formError]="error$ | async"
      (formSubmitted)="submit($event)"
    ></gt-monitor-form>
  </ng-container>
</section>
