<nav>
  <mat-nav-list>
    <h3 mat-subheader>Select Organization</h3>
    <a mat-list-item color="accent" [matMenuTriggerFor]="menu">
      <span *ngIf="activeOrganizationDetail$ | async as orgDetails">
        {{ orgDetails.name }}
      </span>
    </a>
    <mat-menu #menu="matMenu">
      <button
        *ngFor="let organization of organizations$ | async"
        (click)="setOrganization(organization.id)"
        mat-menu-item
      >
        {{ organization.name }}
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/organizations/new">
        Create New Organization
      </button>
    </mat-menu>
    <mat-divider></mat-divider>
    <!-- <a mat-list-item routerLink=".">Projects</a> -->
    <a mat-list-item routerLink="/issues" routerLinkActive="active-route"
      >Issues</a
    >
    <!-- <a mat-list-item routerLink=".">Events</a> -->
    <a
      mat-list-item
      routerLink="/settings/organizations"
      routerLinkActive="active-route"
      >Settings</a
    >
  </mat-nav-list>
</nav>
