@import "variables";

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &::ng-deep .mat-card-header-text {
    margin-left: 0;
  }

  mat-form-field {
    margin-top: -5px;

    @media (max-width: $small - 1) {
      width: 100%;
    }
  }
}

.empty-auth {
  padding-top: 16px;
  text-align: center;
}

.socialaccount-list-wrapper {
  mat-divider {
    margin-top: 12px;
  }
}

.socialaccount-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  button {
    width: fit-content;
    margin: 12px 16px 0 0;
  }

  .email {
    margin-top: 12px;
    height: fit-content;
  }
}
