@import "variables";

.page-header {
  flex-wrap: wrap;

  @media screen and (max-width: $small - 1) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.mat-headline-4 {
  margin: 0;
}

.mat-caption {
  font-weight: 500;
}

mat-chip {
  height: 24px;
  font-weight: 500;
}

.list {
  width: 100%;

  &--item {
    width: 100%;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $large - 1) {
      flex-direction: column;
      align-items: flex-start;
    }
    &:nth-last-child(n + 2) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  .email-and-badge,
  .reinvite-and-role {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .email-and-badge {
    * {
      margin: 0 16px 0 0;
    }

    align-items: center;
    flex: 1 1 0%;
    flex-wrap: wrap;

    a {
      margin-right: 16px;
    }
  }

  .reinvite-and-role {
    mat-chip {
      margin: 0 0 0 16px;
    }

    @media (max-width: $large - 1) {
      flex-direction: column-reverse;
      align-items: flex-start;

      mat-chip {
        margin: 0;
      }

      .reinvite {
        margin-bottom: 10px;
      }
    }
  }

  .role {
    width: 140px;
    padding-left: 16px;
    padding-right: 16px;

    @media (max-width: $large - 1) {
      padding: 0;
    }
  }
}

.remove-button ::ng-deep button {
  width: 90px;
}
