.wrapper {
  display: flex;
  align-items: center;
}

svg {
  position: absolute;
  width: 16px;
  height: 16px;
}

.text {
  margin-left: auto;
  margin-right: auto;
}

.margin {
  margin-bottom: 8px;
  margin-top: 8px;
}

.disabled {
  fill: rgba(0, 0, 0, 0.26);
}
