<div class="hero-and-nav-container">
  <header>
    <mat-toolbar color="transparent">
      <span class="logo-test">GlitchTip</span>
    </mat-toolbar>
  </header>

  <div class="hero centered-block">
    <h2 class="fancy mat-display-3">
      Simple, open source error&nbsp;tracking
    </h2>
    <div class="content">
      <p class="mat-body-1">
        Sentry is
        <a href="https://blog.sentry.io/2019/11/06/relicensing-sentry">
          no longer open source</a
        >. We want a quality open source product to pick up where it left off,
        so we're making&nbsp;GlitchTip.
      </p>
      <!-- <p class="mat-body-1">
        Subscribe to our newsletter to receive updates about our progress.
      </p> -->
      <p class="mat-body-1">
        Want to to be first in line to move your company’s private or hosted
        Sentry solution to Glitchtip?
      </p>
      <p>
        <a
          mat-flat-button
          color="primary"
          href="mailto:info@burkesoftware.com?Subject=Moving to GlitchTip"
          >Contact us</a
        >
      </p>
    </div>
  </div>
</div>

<mat-card class="big-card-wrapper">
  <div class="centered-block">
    <h2 class="fancy mat-display-1">
      Who's making this?
    </h2>

    <div class="content">
      <p class="mat-body-1">
        GlitchTip was created by Burke Software and Consulting, a small team of
        software developers doing consulting work and supporting open source
        software development. We also created
        <a href="https://passit.io">Passit</a>.
      </p>

      <p class="mat-body-1">
        GlitchTip is open source, which means that you can be making it too! If
        you’re interested in doing so,
        <a href="https://gitlab.com/glitchtip">visit our GitLab page</a> for
        more information, or start a live chat on this&nbsp;page.
      </p>
    </div>
  </div>

  <div class="centered-block divider">
    <h2 class="fancy mat-display-1">
      More about GlitchTip
    </h2>

    <div class="content">
      <p class="mat-body-1">
        Glitchtip is intended to be a simple, easy-to-use way to collect errors
        reported by your app. It's open source, so you can view, modify, and use
        the code as you see fit. Run it on your server for now, or wait awhile
        so you can pay us to host it for&nbsp;you.
      </p>

      <p class="mat-body-1">
        GlitchTip is compatible with the Sentry API, so it can use
        <a href="https://docs.sentry.io/platforms/">their open source SDKs</a>
        to receive error data from your&nbsp;application.
      </p>
    </div>
  </div>

  <div class="centered-block divider">
    <h2 class="fancy mat-display-1">
      What's your roadmap?
    </h2>

    <div class="content">
      <p class="mat-body-1">
        Our goal for January is to start using GlitchTip for our own personal
        projects. Interested users can check out our code and experimental
        docker images as a&nbsp;preview.
      </p>

      <p class="mat-body-1">
        Our goal for February is to have proper organizations and projects set
        up. Interested users can then sign up for a hosted demo and download
        beta docker&nbsp;images.
      </p>
    </div>
  </div>
</mat-card>

<footer></footer>
