@import "variables";

$iconWidth: 56px;

table {
  width: 100%;
  margin-bottom: 40px;

  &.fixedLayout {
    table-layout: fixed;
  }
}

.table-header {
  padding: 20px 0 8px;
}

.version {
  width: 900px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: fit-content;

  @media screen and (max-width: $large - 1) {
    width: 500px;
  }
  @media screen and (max-width: $medium - 1) {
    width: 400px;
  }
  @media screen and (max-width: $tablet - 1) {
    width: 200px;
  }
}

.date-cell {
  width: 140px;
}

.empty-states {
  padding: 1.5em 24px 0.5em;
}
