<section class="l-body">
  <ng-container *ngIf="monitor$ | async as monitor">
    <header>
      <a mat-stroked-button [routerLink]="['..']">
        <mat-icon>keyboard_arrow_left</mat-icon>
        View all uptime monitors
      </a>
      <h1 class="mat-display-1">Uptime details for {{ monitor.name }}</h1>
    </header>
    <mat-card>
      <mat-card-title>
        <span *ngIf="monitor.isUp">Up</span>
        <span *ngIf="monitor.isUp === false">Down</span>
        <span *ngIf="monitor.isUp === null">No data</span>
        <ng-container *ngIf="monitor.lastChange">
          {{ monitor.lastChange | timeFor }}
        </ng-container>
      </mat-card-title>
      <div class="status-indicator status-indicator--{{ monitor.isUp }}"></div>
      <mat-card-content>
        <div>
          <div class="url-display">
            <a href="{{ monitor.url }}" target="_blank">{{ monitor.url }}</a>
          </div>
          <button
            id="monitor-settings"
            mat-flat-button
            color="primary"
            [disabled]="false"
            [routerLink]="['./update']"
          >
            Settings
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    <gt-monitor-checks
    [monitor]="monitor"
    [monitorChecks]="monitorChecks$ | async"
    [loading]="loading$ | async"
    [paginator]="paginator$ | async" 
    ></gt-monitor-checks>
    <mat-card
      id="heartbeat-endpoint"
      class="heartbeat-card"
      *ngIf="monitor.monitorType === 'Heartbeat' && monitor.heartbeatEndpoint"
    >
      <mat-card-title>Heartbeat URL endpoint</mat-card-title>
      <mat-divider></mat-divider>
      <p>
        Configure your project to send a POST request with no content to the
        following URL at your specified interval. If GlitchTip does not receive
        this request within the interval, your site status will be marked as
        down.
      </p>
      <gt-copy-input
        [value]="monitor.heartbeatEndpoint"
        placeholder="Endpoint URL"
      ></gt-copy-input>
    </mat-card>
    <mat-card>
      <mat-card-title>Delete Monitor</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="remove-content">
        <div>
          <p>
            By deleting this monitor, you will remove all of its uptime check
            history.
          </p>
        </div>
        <gt-loading-button
          (click)="deleteMonitor()"
          buttonText="Delete Monitor"
          [loading]="(deleteLoading$ | async)!"
          id="delete-monitor"
        >
        </gt-loading-button>
      </mat-card-content>
    </mat-card>
  </ng-container>
</section>
