@import "variables";


mat-card {
    margin-top: 20px;
    margin-bottom: 20px;
  
    mat-card-content {
      padding-top: 16px;
    }
}

.associations {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 900px;
    margin-top: 10px;

    @media screen and (max-width: $large - 1) {
        width: auto;
      }

    div {
        width: 354px;
        margin-right: 16px;
    }
}

.advanced {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 700px;
    margin-top: 10px;

    @media screen and (max-width: $medium - 1) {
        width: auto;
      }

    div {
        width: 170px;
        margin-right: 16px;
    }
}

.remove-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    @media (max-width: $tablet - 1) {
      flex-direction: column;
      align-items: flex-start;
    }
  
    p {
      padding-right: 16px;
    }
  }

// Duplicating these because :after requires content and this is just an empty div
// It's not a graceful solution at all. But the indicator is temporary anyways.

.status-indicator--true {
    width: 100%;
    border-top: 8px solid #54A65A;
}

.status-indicator--false {
    width: 100%;
    border-top: 8px solid $amaranth;
}

.status-indicator-- {
    width: 100%;
    border-top: 8px solid $amaranth;
}