<mat-card>
  <mat-card-title>Register Security Key</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <button
    mat-flat-button
    color="primary"
    (click)="activateFido2()"
    >
    Activate
    </button>
    
    <form [formGroup]="fido2Form">
      <mat-form-field>
        <input matInput formControlName="fido2Code" />
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        (click)="registerFido2()"
      >
        Register
      </button>
    </form>
  </mat-card-content>
</mat-card>
