<section class="l-body l-body--full-width mat-elevation-z0">
  <header class="page-header">
    <gt-list-title title="Transaction Groups" searchHits="60"></gt-list-title>
  </header>
  <gt-project-filter-bar></gt-project-filter-bar>
  <div>
    <table mat-table class="mat-elevation-z2">
      <ng-container matColumnDef="actions">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="resolved-row"
          class="table-header"
        >
          <gt-data-filter-bar
            [dateForm]="dateForm"
            [sortForm]="sortForm"
            [sorts]="sorts"
          ></gt-data-filter-bar>
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['actions']"></tr>
    </table>
  </div>
</section>
