.sample-card {
  pointer-events: none;

  ::ng-deep {
    .mat-card {
      opacity: 0.6;
    }
    mat-card-title span,
    p span,
    .mat-button-wrapper span {
      background-color: #eee;
      color: #eee;
    }
    .action-button .mat-icon {
      background-color: #eee;
      color: #eee;
    }
  }
}

.empty-state-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
