<form
  class="flex-common"
  [formGroup]="projectAlertForm"
  (ngSubmit)="onSubmit()"
>
  <p>
    <span
      >If&nbsp;an&nbsp;<span
        class="tooltip"
        matTooltip="An event is every occurrence of the same error (aka: issue) in your application."
        >event</span
      >&nbsp;happens</span
    >
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input
        matInput
        min="0"
        max="10000"
        type="number"
        autocomplete="off"
        formControlName="quantity"
        [errorStateMatcher]="matcher"
        placeholder="#"
      />
      <mat-error *ngIf="projectAlertForm.get('quantity')?.errors">
        <span *ngIf="projectAlertForm.get('quantity')?.errors?.min"
          >The quantity needs to be greater than or equal to 0.</span
        >
        <span *ngIf="projectAlertForm.get('quantity')?.errors?.invalidNumber"
          >Enter a number.
        </span>
        <span *ngIf="projectAlertForm.get('quantity')?.errors?.required"
          >This field is required.</span
        >
      </mat-error>
    </mat-form-field>
    <span
      >time<span *ngIf="projectAlertForm.get('quantity')?.value !== 1">s</span
      >&nbsp;in</span
    >
    <mat-form-field>
      <mat-label>Timespan</mat-label>
      <input
        matInput
        min="0"
        max="10000"
        type="number"
        autocomplete="off"
        formControlName="timespan_minutes"
        [errorStateMatcher]="matcher"
        placeholder="#"
      />
      <mat-error *ngIf="projectAlertForm.get('timespan_minutes')?.errors">
        <span *ngIf="projectAlertForm.get('timespan_minutes')?.errors?.min"
          >The timespan needs to be greater than or equal to 0.</span
        >
        <span
          *ngIf="
            projectAlertForm.get('timespan_minutes')?.errors?.invalidNumber
          "
          >Enter a number.
        </span>
        <span *ngIf="projectAlertForm.get('timespan_minutes')?.errors?.required"
          >This field is required.</span
        >
      </mat-error>
    </mat-form-field>
    <span
      >minute<span *ngIf="projectAlertForm.get('timespan_minutes')?.value !== 1"
        >s</span
      >,&nbsp;send&nbsp;an&nbsp;email.</span
    >
  </p>
  <app-loading-button
    buttonText="Update"
    [disabled]="
      projectAlertForm.get('timespan_minutes')?.value === timespan &&
      projectAlertForm.get('quantity')?.value === quantity
    "
    buttonStyle="basic"
    [loading]="loading === true"
  ></app-loading-button>
</form>
