<section class="l-body">
  <header class="page-header">
    <h1 class="mat-display-1">#{{ teamSlug$ | async }}</h1>
    <a mat-flat-button [routerLink]="['/settings', orgSlug$ | async, 'teams']">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Back to Teams
    </a>
  </header>

  <nav mat-tab-nav-bar>
    <a
      *ngFor="let link of navLinks"
      mat-tab-link
      [routerLink]="link.path"
      routerLinkActive
      [active]="rla.isActive"
      #rla="routerLinkActive"
      >{{ link.label }}
    </a>
  </nav>

  <router-outlet></router-outlet>
</section>
