<mat-card>
  <a [routerLink]="cardLink" [queryParams]="cardLinkQueryParams">
    <mat-card-content>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-divider></mat-divider>
      <div *ngFor="let description of descriptionList">
        <p class="mat-small organization">{{ description.key | uppercase }}</p>
        <p>{{ description.value }}</p>
      </div>
    </mat-card-content>
  </a>
  <mat-card-actions>
    <a
      *ngIf="primaryActionButtonText"
      class="action-button"
      mat-stroked-button
      color="primary"
      [routerLink]="primaryActionButtonLink"
      [queryParams]="primaryActionButtonQuery"
    >
      <mat-icon
        *ngIf="primaryActionButtonIcon"
        class="icon__warning"
        aria-hidden="true"
        >{{ primaryActionButtonIcon }}</mat-icon
      >
      <span>{{ primaryActionButtonText }}</span>
    </a>
    <a
      *ngIf="secondaryActionButtonText"
      class="action-button"
      mat-button
      color="primary"
      [routerLink]="secondaryActionButtonLink"
    >
      <mat-icon
        *ngIf="secondaryActionButtonIcon"
        class="icon__settings"
        aria-hidden="true"
        >{{ secondaryActionButtonIcon }}</mat-icon
      >
      {{ secondaryActionButtonText }}
    </a>
  </mat-card-actions>
</mat-card>
