@import "../../../assets/styles/variables";

mat-card > a {
  text-decoration: none;
  color: mat-color($mat-gray, 900);
}

mat-card-title {
  margin-bottom: 0;
  padding-bottom: 16px;
}

mat-card-content {
  margin-bottom: 8px;

  p {
    margin-bottom: 0;
    margin-top: 0;
  }

  .organization {
    padding-top: 24px;
    padding-bottom: 2px;
  }

  .date-created {
    padding-top: 16px;
    padding-bottom: 2px;
  }
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-left: 0;
  margin-bottom: 0;

  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }

  .icon {
    &__warning {
      margin-right: 8px;
    }
    &__settings {
      margin-right: 3px;
    }
  }
}
