<h1>Option 1</h1>
<section class="l-body first-draft">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Project Alerts</mat-card-title>
      <button mat-flat-button color="primary">
        Create New Alert
      </button></mat-card-header
    >
    <mat-divider></mat-divider>
    <mat-card-content>
      <ul>
        <li *ngFor="let alert of alerts; let ione = index">
          <mat-divider *ngIf="ione !== 0"></mat-divider>

          <div class="amount">
            <span>If an event happens</span>
            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input
                matInput
                min="0"
                max="10000"
                type="number"
                autocomplete="off"
                placeholder="#"
              />
            </mat-form-field>
            <span>times in</span>
            <mat-form-field>
              <mat-label>Timespan</mat-label>
              <input
                matInput
                min="0"
                max="10000"
                type="number"
                autocomplete="off"
                placeholder="#"
              />
            </mat-form-field>
            <span>minutes,&nbsp;send&nbsp;an&nbsp;alert to:</span>
          </div>
          <ul class="alert-recipients">
            <li *ngFor="let recipient of alert.alertRecipients">
              <span>{{ recipient.url }}</span
              ><span><mat-icon>edit</mat-icon><mat-icon>delete</mat-icon></span>
            </li>
            <li>
              <mat-form-field class="webhook-input">
                <mat-label>Webhook URL</mat-label>
                <input type="text" matInput placeholder="www.webhook.com" />
              </mat-form-field>
              <button mat-flat-button color="primary">Add Webhook</button>
            </li>
          </ul>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</section>

<h1>Option 2</h1>

<section class="l-body second-draft">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Project Alerts</mat-card-title>
      <button mat-flat-button color="primary">
        Create New Alert
      </button></mat-card-header
    >
    <mat-divider></mat-divider>
    <mat-card-content>
      <ul>
        <li *ngFor="let alert of alerts; let itwo = index">
          <mat-divider *ngIf="itwo !== 0"></mat-divider>
          <h3>Alert {{ itwo + 1 }}</h3>
          <div class="amount">
            <span>If an event happens</span>
            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input
                matInput
                min="0"
                max="10000"
                type="number"
                autocomplete="off"
                placeholder="#"
              />
            </mat-form-field>
            <span>times in</span>
            <mat-form-field>
              <mat-label>Timespan</mat-label>
              <input
                matInput
                min="0"
                max="10000"
                type="number"
                autocomplete="off"
                placeholder="#"
              />
            </mat-form-field>
            <span>minutes,&nbsp;send&nbsp;an&nbsp;alert to:</span>
          </div>
          <ul class="alert-recipients">
            <li
              *ngFor="
                let recipient of alert.alertRecipients;
                let ithree = index
              "
            >
              {{ recipient.url
              }}<ng-container *ngIf="alert.alertRecipients.length !== ithree"
                >,</ng-container
              >
            </li>
            <li>emails listed for <a routerLink="">team members</a></li>
          </ul>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</section>
