<section class="l-body">
  <header class="page-header">
    <h1 class="mat-display-1">User Profile</h1>
    <p class="mat-body-1 subtitle" *ngIf="user$ | async as user">
      {{ user.email }}
    </p>
  </header>

  <div *ngIf="user$ | async as user">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Social Auth Accounts</mat-card-title>
        <mat-divider></mat-divider>
        <div class="button-wrapper">
          <!-- Github -->
          <app-auth-button
            *ngIf="isGithubConnected$ | async"
            text="GitHub is Connected"
            svg="github"
            [disabled]="true"
          ></app-auth-button>
          <!-- Gitlab -->
          <app-auth-button
            *ngIf="isGitlabConnected$ | async; else gitlabDisconnected"
            text="GitLab is Connected"
            svg="gitlab"
            [disabled]="true"
          ></app-auth-button>
          <ng-template #gitlabDisconnected>
            <app-auth-button
              text="Connect to GitLab"
              svg="gitlab"
              (clickEvent)="connectGitlab()"
            ></app-auth-button
          ></ng-template>
          <!--
            Github
            Can't implement connect because Github doesn't support multiple
          -->
          <app-auth-button
            *ngIf="isGithubConnected$ | async; else githubDisconnected"
            text="Disconnect GitHub"
            svg="github"
            [disabled]="true"
          ></app-auth-button>
          <ng-template #githubDisconnected>
            <app-auth-button
              text="Connect to GitHub"
              svg="github"
              [disabled]="true"
            ></app-auth-button>
          </ng-template>
          <!-- Google -->
          <app-auth-button
            *ngIf="isGoogleConnected$ | async; else googleDisconnected"
            text="Google is Connected"
            svg="google"
            [disabled]="true"
          ></app-auth-button>
          <ng-template #googleDisconnected>
            <app-auth-button
              text="Connect to Google"
              svg="google"
              (clickEvent)="connectGoogle()"
            ></app-auth-button
          ></ng-template>
          <!-- Microsoft -->
          <app-auth-button
            *ngIf="isMicrosoftConnected$ | async; else microsoftDisconnected"
            text="Microsoft is Connected"
            svg="microsoft"
            [disabled]="true"
          ></app-auth-button>
          <ng-template #microsoftDisconnected>
            <app-auth-button
              text="Connect to Microsoft"
              svg="microsoft"
              (clickEvent)="connectMicrosoft()"
            ></app-auth-button
          ></ng-template>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- TODO: check user?.hasPasswordAuth so change password only shows for users who signed up w/ a password -->
    <mat-card class="half-width">
      <app-change-password></app-change-password>
    </mat-card>

    <app-manage-emails></app-manage-emails>
  </div>
</section>
