<section class="l-body">
  <header class="page-header">
    <h1 class="mat-display-1">User Profile</h1>
    <p class="mat-body-1 subtitle" *ngIf="user$ | async as user">
      {{ user.email }}
    </p>
  </header>

  <div *ngIf="user$ | async as user">
    <mat-card>
      <mat-card-header class="card-header">
        <mat-card-title>Social Auth Accounts</mat-card-title>
        <mat-form-field *ngIf="socialApps$ | async as socialApps">
          <mat-label>Add Account</mat-label>
          <mat-select (selectionChange)="addAccount()" [formControl]="account">
            <!--
            Github
            Can't implement connect because Github doesn't support multiple
          -->
            <mat-option
              *ngFor="let socialApp of socialApps"
              [value]="socialApp"
            >
              <svg>
                <use
                  *ngIf="socialApp.provider === 'gitlab'"
                  xlink:href="#gitlab"
                ></use>
                <use
                  *ngIf="socialApp.provider === 'microsoft'"
                  xlink:href="#microsoft"
                ></use>
                <use
                  *ngIf="socialApp.provider === 'github'"
                  xlink:href="#github"
                ></use>
                <use
                  *ngIf="socialApp.provider === 'google'"
                  xlink:href="#google"
                ></use>
              </svg>
              <span class="text">{{ socialApp.name }}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content
        ><ng-container
          *ngIf="
            (user$ | async)?.identities?.length === 0;
            else authAccountsList
          "
        >
          <p class="empty-auth">
            You haven't connected any social auth accounts.
          </p>
        </ng-container>
        <ng-template #authAccountsList>
          <div class="button-wrapper">
            <ng-container
              *ngFor="let socialAccount of (user$ | async)?.identities"
            >
              <app-auth-button
                [svg]="socialAccount.provider"
                text="Disconnect {{
                  socialAccount.username
                    ? socialAccount.username
                    : socialAccount.email
                }}"
                [matTooltip]="socialAccount.provider"
                (clickEvent)="disconnect(socialAccount.id)"
              >
              </app-auth-button
            ></ng-container></div
        ></ng-template>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="user.hasPasswordAuth" class="half-width">
      <app-change-password></app-change-password>
    </mat-card>

    <mat-card *ngIf="!user.hasPasswordAuth" class="half-width">
      <mat-card-title>Set Password</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p class="confirm-email">
          GlitchTip will need to reconfirm your email before setting one.
        </p>
        <app-loading-button
          *ngIf="!passwordResetSuccess"
          buttonText="Request set password email"
          [loading]="passwordResetLoading"
          (click)="passwordReset()"
        >
        </app-loading-button>
        <p *ngIf="passwordResetSuccess" class="success-text">
          <mat-icon color="primary">check_circle</mat-icon>
          <span>Email sent</span>
        </p>
      </mat-card-content>
    </mat-card>

    <app-manage-emails></app-manage-emails>
  </div>
</section>
