<section class="l-body">
  <header class="page-header">
    <h1 class="mat-display-1">User Profile</h1>
    <p class="mat-body-1 subtitle" *ngIf="user$ | async as user">
      {{ user.email }}
    </p>
  </header>

  <div *ngIf="user$ | async as user">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Social Auth Accounts</mat-card-title>
        <mat-divider></mat-divider>
        <div class="button-wrapper">
          <!-- Github -->
          <app-auth-button
            *ngIf="isGithubConnected$ | async; else githubDisconnected"
            text="Disconnect GitHub"
            svg="github"
            (clickEvent)="disconnectGithub()"
          ></app-auth-button>
          <ng-template #githubDisconnected>
            <app-auth-button
              text="Connect to GitHub"
              svg="github"
              (clickEvent)="connectGithub()"
            ></app-auth-button
          ></ng-template>
          <!-- Gitlab -->
          <app-auth-button
            *ngIf="isGitlabConnected$ | async; else gitlabDisconnected"
            text="Disconnect GitLab"
            svg="gitlab"
            (clickEvent)="disconnectGitlab()"
          ></app-auth-button>
          <ng-template #gitlabDisconnected>
            <app-auth-button
              text="Connect to GitLab"
              svg="gitlab"
              (clickEvent)="connectGitlab()"
            ></app-auth-button
          ></ng-template>
          <!-- Google -->
          <app-auth-button
            *ngIf="isGoogleConnected$ | async; else googleDisconnected"
            text="Disconnect Google"
            svg="google"
            (clickEvent)="disconnectGoogle()"
          ></app-auth-button>
          <ng-template #googleDisconnected>
            <app-auth-button
              text="Connect to Google"
              svg="google"
              (clickEvent)="connectGoogle()"
            ></app-auth-button
          ></ng-template>
          <!-- Microsoft -->
          <app-auth-button
            *ngIf="isMicrosoftConnected$ | async; else microsoftDisconnected"
            text="Disconnect Microsoft"
            svg="microsoft"
            (clickEvent)="disconnectMicrosoft()"
          ></app-auth-button>
          <ng-template #microsoftDisconnected>
            <app-auth-button
              text="Connect to Microsoft"
              svg="microsoft"
              (clickEvent)="connectMicrosoft()"
            ></app-auth-button
          ></ng-template>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
