@import "variables";

mat-form-field {
  margin-bottom: 10px;

  @media screen and (max-width: $small - 1) {
    margin-bottom: 20px;
  }
}

.half-width {
  max-width: 390px;
}

.first-field {
  margin-top: 24px;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}
