<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ location }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p></p>
  </mat-card-content>
  <mat-card-actions>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-label>Status</mat-label>
      <mat-select>
        <mat-option *ngFor="let status of statusOptions" [value]="form.status">
          {{ status }}
        </mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="error">{{ error }}</mat-error> -->
      <button mat-flat-button color="primary">
        Submit
      </button>
    </form>
  </mat-card-actions>
</mat-card>
