@use "sass:map";
@use "@angular/material" as mat;

@mixin theme($theme) {
  $primary: map.get($theme, primary);
  
  .level {
    &--sample:after {
      background-color: mat.get-color-from-palette(mat.$gray-palette, 100);
    }

    &--debug:after {
      background-color: mat.get-color-from-palette(mat.$gray-palette, 300);
    }

    &--info:after {
      background-color: #4b60b4;
    }

    &--warning:after {
      background-color: #e9b949;
    }

    &--error:after {
      background-color: mat.get-color-from-palette(
        $primary
      );
    }

    &--fatal:after {
      background-image: repeating-linear-gradient(
        -60deg,
        mat.get-color-from-palette($primary),
        mat.get-color-from-palette($primary) 5px,
        white 5px,
        white 10px
      );
    }
  }
}
