<section class="l-body l-body--full-width mat-elevation-z0">
  <header class="page-header">
    <h1 class="mat-display-1">Issues</h1>
  </header>

  <app-header-nav></app-header-nav>

  <div
    *ngIf="
      (loading$ | async) === true &&
      (urlHasParam$ | async) === false &&
      (issues$ | async)?.length === 0
    "
    class="spinner-container"
  >
    <mat-progress-spinner
      [diameter]="33"
      color="primary"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>

  <div *ngIf="(singleProjectApplied$ | async) === true">
    Single project applied
  </div>

  a{{ activeProjectFirstEvent$ | async }}b

  <mat-card *ngIf="(showOnboarding$ | async) === true">
    <h2 class="mat-display-1">
      Send us your events!
    </h2>

    <markdown src="/sdk-docs/all-sdks.md"></markdown>

    <p>
      Read the JavaScript installation instructions for more information.
    </p>
  </mat-card>

  <div *ngIf="issues$ | async as issues">
    <ng-container
      *ngIf="
        (initialLoadComplete$ | async) === true && (loading$ | async) === false
      "
    >
      <mat-card *ngIf="userNotInSomeTeams$ | async">
        <p>
          You can't see issues for some projects because you're not on the team
          for those projects.
        </p>
      </mat-card>

      <ng-container *ngIf="!(urlHasParam$ | async)">
        <mat-card *ngIf="!(orgHasAProject$ | async)">
          <h3>
            This organization has no projects.
          </h3>
          <p>
            To add a project to this organization, press the
            "Add&nbsp;Project"&nbsp;button.
          </p>
        </mat-card>
        <mat-card *ngIf="(orgHasAProject$ | async) && issues.length === 0">
          <h3>
            <ng-container
              *ngIf="appliedProjectCount$ | async as appliedProjectCount"
            >
              <ng-container *ngIf="appliedProjectCount > 1; else singleProject">
                <ng-container
                  *ngIf="
                    (projectsWhereAdminIsNotOnTheTeam$ | async)?.length === 0;
                    else notAMemberOfAtLeastOne
                  "
                >
                  No issues have been reported to these projects.
                </ng-container>

                <ng-template #notAMemberOfAtLeastOne>
                  No issues, and/or not on the team.
                </ng-template>
              </ng-container></ng-container
            >

            <ng-template #singleProject>
              <ng-container
                *ngIf="
                  (projectsWhereAdminIsNotOnTheTeam$ | async)?.length === 0;
                  else notAMember
                "
              >
                No issues have been reported to this project.
              </ng-container>

              <ng-template #notAMember>
                You can't see issues for this project because you're not on the
                team.
              </ng-template>
            </ng-template>
          </h3>

          <p>
            <ng-container
              *ngIf="
                (projectsWhereAdminIsNotOnTheTeam$ | async)?.length === 0;
                else paragraphAltMessaging
              "
            >
              Add an SDK to your project<ng-container
                *ngIf="appliedProjectCount$ | async as appliedProjectCount"
                ><ng-container *ngIf="appliedProjectCount > 1"
                  >s</ng-container
                ></ng-container
              >
              to start sending errors to GlitchTip.
            </ng-container>

            <ng-template #paragraphAltMessaging>
              There are no issues here, either because no issues have been
              reported or because you're not on the team for one or more of the
              projects.
            </ng-template>
          </p>
        </mat-card>
      </ng-container>
    </ng-container>
    <table
      *ngIf="issues.length > 0 || (urlHasParam$ | async)"
      mat-table
      [dataSource]="issues$"
      class="mat-elevation-z2"
    >
      <ng-container matColumnDef="actions">
        <th
          mat-header-cell
          colspan="4"
          *matHeaderCellDef
          class="resolved-row"
          class="table-header"
        >
          <div class="action-group">
            <div class="button-group">
              <button
                mat-flat-button
                color="primary"
                (click)="bulkMarkResolved()"
                [disabled]="(thereAreSelectedIssues$ | async) === false"
              >
                Mark as resolved
              </button>
              <button
                style="margin-left: 10px;"
                mat-stroked-button
                (click)="bulkMarkUnresolved()"
                [disabled]="(thereAreSelectedIssues$ | async) === false"
              >
                Reopen
              </button>
              <button
                style="margin-left: 10px;"
                mat-stroked-button
                (click)="bulkMarkIgnored()"
                [disabled]="(thereAreSelectedIssues$ | async) === false"
              >
                Ignore
              </button>
            </div>

            <form
              class="date-form"
              [formGroup]="dateForm"
              (ngSubmit)="onDateFormSubmit()"
            >
              <mat-form-field>
                <mat-label>Start Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="startPicker"
                  formControlName="startDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="startPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-label>End Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="endPicker"
                  formControlName="endDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="endPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
              </mat-form-field>
              <button
                type="submit"
                mat-flat-button
                color="primary"
                [disabled]="
                  !dateForm.value.startDate ||
                  !dateForm.value.endDate ||
                  dateForm.pristine
                "
              >
                Filter
              </button>
              <button
                type="button"
                (click)="dateFormReset()"
                mat-stroked-button
                color="primary"
                [disabled]="
                  !dateForm.value.startDate && !dateForm.value.endDate
                "
              >
                Clear
              </button>
            </form>
            <form
              [formGroup]="form"
              (ngSubmit)="onSubmit()"
              class="search-form"
            >
              <mat-form-field>
                <input
                  matInput
                  type="search"
                  placeholder="Search"
                  formControlName="query"
                />
              </mat-form-field>
            </form>
          </div>
        </th>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="toggleSelectAll()"
            [checked]="(areAllSelected$ | async)!"
          >
          </mat-checkbox>
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          [class.resolved]="row.status === 'resolved'"
          [class.ignored]="row.status === 'ignored'"
          class="checkbox-cell"
        >
          <mat-checkbox
            (change)="toggleCheck(row.id)"
            [checked]="row.isSelected"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td
          mat-cell
          *matCellDef="let element"
          [class.resolved]="element.status === 'resolved'"
          [class.ignored]="element.status === 'ignored'"
          class="status-cell"
        >
          {{ element.status }}
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue</th>
        <td
          mat-cell
          *matCellDef="let element"
          [class.resolved]="element.status === 'resolved'"
          [class.ignored]="element.status === 'ignored'"
        >
          <a [routerLink]="element.id">{{ element.title }}</a>
          <div>
            <span
              class="mat-caption"
              *ngIf="(appliedProjectCount$ | async) !== 1"
            >
              {{ element.projectSlug }}
            </span>
            <span class="mat-caption" *ngIf="true">
              <ng-container *ngIf="(appliedProjectCount$ | async) !== 1">
                &mdash;
              </ng-container>
              <time
                [dateTime]="element.firstSeen"
                [title]="element.firstSeen | date: 'medium'"
              >
                {{ element.firstSeen | date }}
              </time>
              <time
                *ngIf="element.firstSeen !== element.lastSeen"
                [dateTime]="element.lastSeen"
                [title]="element.lastSeen | date: 'medium'"
              >
                / {{ element.lastSeen | date }}
              </time>
            </span>
            <span
              class="mat-caption"
              *ngIf="element.type && element.type === 'csp'"
              ><span
                *ngIf="(appliedProjectCount$ | async) !== 1 && element.type"
              >
                &mdash; </span
              >{{ element.type }} report</span
            >
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="events">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Events</th>
        <td
          mat-cell
          *matCellDef="let element"
          [class.resolved]="element.status === 'resolved'"
          [class.ignored]="element.status === 'ignored'"
          class="event-cell"
        >
          <p>{{ element.count }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="pagination">
        <td
          mat-footer-cell
          *matFooterCellDef
          [attr.colspan]="displayedColumns.length"
          class="footer"
        >
          <ng-container *ngIf="(loading$ | async) === false">
            <button
              [routerLink]="[]"
              [queryParams]="(previousParams$ | async) || {}"
              queryParamsHandling="merge"
              mat-button
              [disabled]="(hasPreviousPage$ | async) === false"
            >
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button
              [routerLink]="[]"
              [queryParams]="(nextParams$ | async) || {}"
              queryParamsHandling="merge"
              mat-button
              [disabled]="(hasNextPage$ | async) === false"
            >
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </ng-container>
          <div *ngIf="loading$ | async" class="spinner-container">
            <mat-progress-spinner
              [diameter]="33"
              color="primary"
              mode="indeterminate"
            ></mat-progress-spinner>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['actions']"></tr>
      <tr
        mat-header-row
        class="overlay"
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="['pagination']"></tr>
    </table>
  </div>
</section>
