@import "../../../assets/styles/variables";

$iconWidth: 56px;

app-header-nav {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  margin-bottom: 40px;
}

.table-actions {
  display: flex;
  justify-content: space-between;
}

.table-header {
  padding: 20px 0;
}

.mat-column-title {
  max-width: 500px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  text-align: right;

  mat-icon {
    font-size: 35px;
    height: $iconWidth;
    width: $iconWidth;
    line-height: $iconWidth;
  }
}

.resolved {
  background: #f8c6d3;
}

.ignored {
  background: lightgray;
  text-decoration: line-through;
}

.spinner-container {
  mat-progress-spinner {
    margin: 30px auto;
  }
}
