<section class="l-body">
  <header class="page-header">
    <h2 class="mat-display-1">Subscription</h2>
  </header>
  <mat-card>
    <mat-card-content>
      <div *ngIf="subscription$ | async as subscription">
        <div
          *ngIf="
            subscription.status === 'active' ||
            subscription.status === 'trialing'
          "
        >
          <p *ngIf="subscription.status === 'active'" class="mat-body-1">
            This organization has an active subscription to GlitchTip. Thank
            you!
          </p>
          <p *ngIf="subscription.status === 'trialing'" class="mat-body-1">
            This organization has a trial subscription to GlitchTip.
          </p>

          <mat-card-subtitle>Details</mat-card-subtitle>

          <ul>
            <li class="mat-body-1">
              Start date for this plan: {{ subscription.start | date }}
            </li>
            <li class="mat-body-1">
              Plan cost: {{ subscription.plan?.amount | currency }}
            </li>
            <li class="mat-body-1">
              Billing:
              <ng-container
                *ngIf="subscription.billing === 'charge_automatically'"
              >
                Automatic
              </ng-container>
              <ng-container *ngIf="subscription.billing === 'send_invoice'">
                Send invoice
              </ng-container>
            </li>
            <li class="mat-body-1">
              Billing period:
              {{ subscription.current_period_start | date }} to
              {{ subscription.current_period_end | date }}
            </li>
          </ul>

          <p class="mat-body-1">
            If you have questions about your subscription, please contact us at
            <a href="mailto:{{ billingEmail }}">{{ billingEmail }}</a
            >.
          </p>
        </div>
        <div *ngIf="subscription.status !== 'active'">
          <p class="mat-body-1">
            This organization does not have an active subscription to GlitchTip.
          </p>
          <p class="mat-body-1">
            If you would like to purchase a subscription, please contact us at
            <a href="mailto:{{ billingEmail }}">{{ billingEmail }}</a
            >.
          </p>
        </div>
      </div>
      <div *ngIf="(subscription$ | async) === null as subscription">
        <p class="mat-body-1">
          This organization does not have an active subscription to GlitchTip.
        </p>

        <p class="mat-body-1">
          If you would like to purchase a subscription, please contact us at
          <a href="mailto:{{ billingEmail }}">{{ billingEmail }}</a
          >.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</section>
