@import '@angular/material/theming';

$candy-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $candy-app-primary,
      accent: $candy-app-accent,
      warn: $candy-app-warn,
    ),
  )
);

$candy-app-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $candy-app-primary,
      accent: $candy-app-accent,
      warn: $candy-app-warn,
    ),
  )
);

@mixin theme-extension($theme) {
  $_background: map-get($theme, background);
  $app-bg-color: mat-color($_background, background);
  $_foreground: map-get($theme, foreground);
  $app-fg-color: mat-color($_foreground, text);

  body {
    background-color: $app-bg-color;
    color: $app-fg-color;
  }
}
