<mat-card>
  <mat-card-content>
    <mat-card-title>Email Addresses</mat-card-title>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item *ngFor="let email of emailAddresses$ | async">
        <div class="email-info">
          {{ email.email }}
          <mat-chip-list
            *ngIf="email.isPrimary || !email.isVerified"
            [selectable]="false"
          >
            <mat-chip color="primary" selected *ngIf="email.isPrimary">
              Primary
            </mat-chip>
            <mat-chip color="primary" *ngIf="!email.isVerified">
              Unverified
            </mat-chip>
          </mat-chip-list>
        </div>
        <div class="email-actions">
          <button mat-stroked-button color="primary" *ngIf="!email.isVerified">
            Resend verification
          </button>
          <button
            *ngIf="!email.isPrimary && email.isVerified"
            mat-stroked-button
            color="primary"
            (click)="makePrimary(email.email)"
          >
            Make primary
          </button>
          <button
            *ngIf="!email.isPrimary"
            mat-icon-button
            aria-label="Remove email address"
            (click)="deleteEmail(email.email)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="manage-email-form">
      <mat-error class="server-error" *ngIf="addEmailError">
        {{ addEmailError }}
      </mat-error>
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Email Address"
          formControlName="email_address"
        />
        <mat-error>
          <span
            *ngIf="
              email_address?.errors?.required || email_address?.errors?.email
            "
          >
            Please enter a valid email address.
          </span>
          <span *ngIf="email_address?.errors?.matchesExistingValidator">
            This email address is already on the list.
          </span>
          <span *ngIf="email_address?.errors?.serverError">
            {{ email_address?.errors?.serverError }}
          </span>
        </mat-error>
      </mat-form-field>
      <app-loading-button
        buttonText="Add Email Address"
        [loading]="loadingStates.new"
      ></app-loading-button>
    </form>
  </mat-card-content>
</mat-card>
