@import "variables";

.email-list-item {
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.email-info {
  padding-top: 8px;
  margin-bottom: 4px;

  span {
    margin-right: 16px;
  }
}

.email-actions {
  display: flex;
  align-items: center;
  margin-top: 4px;
  padding-bottom: 8px;

  gt-loading-button {
    margin-right: 5px;
  }
}

mat-chip-set {
  display: inline-block;
  margin-right: 15px;
  pointer-events: none;
  user-select: none;
}

mat-chip {
  font-size: 0.8em;
  font-weight: 500;
  padding: 0;
  height: 24px;
}

.delete-spinner-container {
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.add-email-form-ui {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;

  @media (max-width: $large - 1) {
    flex-wrap: wrap;
  }

  @media (max-width: $medium - 1) {
    flex-direction: column;
  }

  mat-form-field {
    flex: 1;
    max-width: 400px;
    margin-right: 15px;
  }

  gt-loading-button {
    margin-top: 12px;

    @media (max-width: $medium - 1) {
      margin-top: 8px;
    }
  }
}
