mat-card {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.full-width {
  width: 100%;
}

form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  mat-error {
    margin-top: 8px;
  }
}

mat-form-field {
  margin-bottom: 10px;
}

.sign-up {
  margin-top: 32px;
  padding-bottom: 16px;
  text-align: center;

  a {
    margin-left: 4px;
  }
}
